<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="en">
    {{^title}}
    <title>Gabble</title>
    {{/title}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body class="container">
    <header class="navbar navbar-default">
      <nav>
        <ul class="list-inline list-unstyled">
          <li class="navbar-brand"><span class="glyphicon glyphicon-comment"></span><a href="">Gabble</a></li>
          {{#user}}
          <li>Logged in as {{user}}</li>
          {{/user}}
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </nav>
    </header>
  </body>

  {{{yield}}}
</html>
