<section class="container">
  <h3>Post by: {{userName}}</h3>
  <p>{{createdAt}}</p>
  <p><b>Likes: </b>{{likeCount}}</p>
  <article class="bg-info">
    <p class="lead"> {{post}}</p>
  </article>
</section>
